
@{
    ViewBag.Title = "GetRolesforUserConfirmed";
}

<h2>Roles for this user are:</h2>

@if (ViewBag.RolesForThisUser != null)
{
<div>
    <ol>
        @foreach (string s in ViewBag.RolesForThisUser)
        {
            <li>@s</li>
        }
    </ol>
</div>
}