
@{
    ViewBag.Title = "GetRoles";
}

<h2>List of Roles</h2>

@foreach (var role in Model)
{
    <p>
        @role.Name |
        @Html.ActionLink("Edit", "EditRole", new { Id = role.Id }) |
        @Html.ActionLink("Delete", "DeleteRole", new { Id = role.Id })
    </p>
}
@Html.ActionLink("Add Role", "AddRole")

