<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NAARemSerMod.Services.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <NAARemSerMod.Services.Properties.Settings>
            <setting name="NAARemSerMod_Services_uk_ac_shu_hallam_webteach_net_NAAWebService"
                serializeAs="String">
                <value>http://webteach_net.hallam.shu.ac.uk/b7033055/NAAWebService.asmx</value>
            </setting>
        </NAARemSerMod.Services.Properties.Settings>
    </applicationSettings>
</configuration>