@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>

<p>The National Admission Agency (NAA) is an agency that manages applications for affiliated Universities.  Applicants apply for courses at Universities through NAA. NAA is responsible for application process for University applicants.</p>
