@{
    ViewBag.Title = "Contact Details";
}
<h2>@ViewBag.Title.</h2>

<address>
    The National Admission Agency <br />
    1 University Way<br />
    Sheffield, S1 6AY<br />
    <abbr title="Phone">P:</abbr>
    0114 278 2973
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:b7033055@my.shu.ac.uk">NAAsupport@NAA.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:b7033055@my.shu.ac.uk">NAAmarketing@NAA.com</a>
</address>